<!-- start of assign/change table content -->
<div id="changeAssignTable">
    <section class="sectionChangeAssignTable">
        <h1>Confirmation Number: A123</h1>

        <table class="tblChangeAssignTable tblGeneral" align="center">
            <thead>
            <tr>
                <th>Table#</th>
                <th>Action</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td><input type="button" value="Assign/Change Table" class="button"/></td>
            </tr>
        </table>
    </section>

</div>

<!-- end of assign/change table content -->