   <!-- start of View Reservations content -->
        <div id="viewReservation">

            <section class="sectionViewReservation">
                <h1>Reservations</h1>

                <table class="tblReservations tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Confirmation #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Table #</th>
                        <th>Party Size</th>
                        <th>Status</th>
                        <th>Party Date</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="rl in viewReservationVm.reservationsList">
                        <td>{{rl.confirmationCode}}</td>
                        <td>{{rl.firstName}}</td>
                        <td>{{rl.lastName}}</td>
                        <td>{{rl.tableId}}</td>
                        <td>{{rl.partySize}}</td>
                        <td>{{rl.status}}</td>
                        <td>{{rl.partyDate}}</td>
                        <td> <a  href="#/viewReservation/{{rl.confirmationCode}}/{{rl.tableId}}" class="button">View</a></td>
                    </tr>
                  </table>

            </section>

            </div>

        <!-- end of View Reservations content -->