 <!-- Start of View Contacts Content -->
        <div id="viewContactList">

            <section class="sectionViewContactList">
                <h1>Contacts</h1>

                <table class="tblContactList tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Contact#</th>
                        <th>Phone</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Past Reservations</th>
                    </tr>
                    </thead>
                    <tr data-ng-init="id=1" data-ng-repeat="c in viewContactsVm.contacts">
                        <td>{{id+$index}}</td>
                        <td>{{c.telephone}}</td>
                        <td>{{c.firstName}}</td>
                        <td>{{c.lastName}}</td>
                        <td>  <button class="button" data-ng-click="viewContactsVm.viewPastReservations(c.telephone)">View</button></td>
                    </tr>
                   
                </table>

            </section>

        </div>


        <!-- End of View Contacts Content -->