 <!-- start of view Seating Area -->
        <div id="viewSeatingArea">

            <section class="sectionSeatingArea">
                <h1>Seating Area</h1>

                <table class="tblViewSeating tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Table#</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th>Since</th>
                        <th>Conf#</th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="t in viewSeatingAreaVm.tables">
                        <td>{{t.tableId}}</td>
                        <td>{{t.capacity}}</td>
                        <td>{{t.status}}</td>
                        <td>{{t.partyTime}}</td>
                        <td><a href="#/viewSeatingArea/{{t.confirmationCode}}">{{t.confirmationCode}}</a> </td>
                    </tr>
                   
                   </table>

            </section>

        </div>
        <!-- end of seating area -->