 <!-- start of view Seating Area -->
        <div id="viewSeatingArea">

            <section class="sectionSeatingArea">
                <h1>Seating Area</h1>

                <table class="tblViewSeating tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Table#</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th>Since</th>
                        <th>Conf#</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                        <td>Occupied</td>
                        <td>12:00PM</td>
                        <td><a href="">A123</a> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>4</td>
                        <td>Available</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>6</td>
                        <td>Occupied</td>
                        <td>1:30PM</td>
                        <td><a href="">B543</a> </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>8</td>
                        <td>Occupied</td>
                        <td>2:30PM</td>
                        <td><a href="">B243</a> </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2</td>
                        <td>Available</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>

            </section>

        </div>
        <!-- end of seating area -->