   <!-- start of View Reservations content -->
        <div id="viewReservation">

            <section class="sectionViewReservation">
                <h1>Reservations</h1>

                <table class="tblReservations tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Conf#</th>
                        <th>Name</th>
                        <th>Table #</th>
                        <th>size</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>A123</td>
                        <td>Jitendra Malakalapalli</td>
                        <td>3</td>
                        <td>3</td>
                        <td> <a data-toggle="tab" href="#/changeAssignTable" class="button" >View</a></td>
                    </tr>
                    <tr>
                        <td>A152</td>
                        <td>Jitendra Malakalapalli</td>
                        <td>6</td>
                        <td>8</td>
                        <td> <a data-toggle="tab" href="#/changeAssignTable" class="button" >View</a></td>
                    </tr>
                    <tr>
                        <td>A252</td>
                        <td>Jitendra Malakalapalli</td>
                        <td>10</td>
                        <td>10</td>
                        <td> <a data-toggle="tab" href="#/changeAssignTable" class="button">View</a></td>
                    </tr>
                    <tr>
                        <td>E216</td>
                        <td>Jitendra Malakalapalli</td>
                        <td>12</td>
                        <td>12</td>
                        <td> <a data-toggle="tab" href="#/changeAssignTable" class="button">View</a></td>
                    </tr>
                    <tr>
                        <td>A153</td>
                        <td>Jitendra Malakalapalli</td>
                        <td>2</td>
                        <td>2</td>
                        <td> <a data-toggle="tab" href="#/changeAssignTable" class="button">View</a></td>
                    </tr>
                </table>

            </section>

            </div>

        <!-- end of View Reservations content -->