 <!-- Start of View Contacts Content -->
        <div id="viewContactList">

            <section class="sectionViewContactList">
                <h1>Contacts</h1>

                <table class="tblContactList tblGeneral" align="center">
                    <thead>
                    <tr>
                        <th>Contact#</th>
                        <th>Phone</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Past Reservations</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>9182878750</td>
                        <td>Jitendra</td>
                        <td>Malakalapalli</td>
                        <td>  <input type="button" value="View" class="button"/> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>9182878751</td>
                        <td>Stephen</td>
                        <td>Flemming</td>
                        <td>  <input type="button" value="View" class="button"/> </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>9185878751</td>
                        <td>Paul</td>
                        <td>Collingwood</td>
                        <td>  <input type="button" value="View" class="button"/> </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>9186878751</td>
                        <td>Shane</td>
                        <td>Warne</td>
                        <td>  <input type="button" value="View" class="button"/> </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>9186878756</td>
                        <td>Michael</td>
                        <td>Holding</td>
                        <td>  <input type="button" value="View" class="button"/> </td>
                    </tr>
                </table>

            </section>

        </div>


        <!-- End of View Contacts Content -->